
# Ignore Westorm files
.idea

# git credential file
.gitconfig.local

# npm modules and logs
node_modules
npm-debug.log
yarn-error.log

# Folder view configuration files
.DS_Store

# Thumbnail cache files
Thumbs.db
